body {
  background: black;
  color: white;
  font-family: Consolas;
  padding: 0px;
  margin: 0px;
}

.header {
  text-align: center;
}

.footer {
  text-align: center;
}

.content {
  background: #1c1c1c;
  border: 1px solid white;
  padding: 25px;
  width: 50%;
  margin: 0px auto;
  border-radius: 5px;
}

a {
  color: white;
  text-decoration: none;
}

hr {
  color: white;
}

img {
  border-radius: 5px; display: block; margin: 0px auto; width: 50%;
}
